<div class="header">

  <div class="container-fluid">
      <div class="row">
        
            <div class="col-4">
                 <a href="/"><img id="logo" src="assets/images/LogoEasyChat.jpg" alt="Logo" /></a>
            </div>

             <div class="col-4">
                  <div class="word">
                     <span>E</span>
                     <span>A</span>
                     <span>S</span>
                     <span>Y</span>
                     <span>C</span>
                     <span>H</span>
                     <span>A</span>
                     <span>T</span>
                  </div>
             </div>

             <div class="col-4">

             </div>
            
      </div>
   </div>

</div>
