
.container-fluid {    
    position: relative;
    height: 120px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 65, 40, 1);
    border-bottom: 2px solid white;
}

#logo {

    position: fixed;
    top: 5px;
    left: 10px;
    float: left;

    width: 120px;
    height: 110px;
}

p {
    position: fixed;
    font-family: 'Tomorrow', sans-serif;
    top: 1px;
    left: 30%;
    text-transform: uppercase;
    font-size: 60pt;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(200, 65, 40, 1), white, rgba(200, 65, 40, 1));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 6s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }

    50% {
        background-position: 0%;
    }
    100% {
      background-position: 500%;
    }
  }

@media (max-width: 400px) {
    p {
        position: fixed;
        font-family: 'Tomorrow', sans-serif;
        left: 140px;
        text-transform: uppercase;
        font-size: 30pt;
        letter-spacing: 4px;
        max-width: 130px;
        word-wrap: break-word;
        overflow: hidden;
        background: linear-gradient(90deg, rgba(200, 65, 40, 1), white, rgba(200, 65, 40, 1));
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 6s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }
}


