
.container-fluid {
    position: fixed;
    bottom: 0px;

    background-color: rgb(200, 65, 40);
    height: 30px;

    border-top: 2px solid white;
}

#footertext {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
