<div class="mainarea">
    <div class="chatarea">
        <div class="container">
            <div class="row">
                <div id="mainlinks" class="col-xs-12 col-sm-3 col-lg-2 col-xl-2">
                    <app-nick-name (nickNameChange)="nickChange($event)"></app-nick-name>
                    <!-- Zwei Events gehen nicht. Nimmt nur das erste. -->
                    <div id="errorMessage">{{errorMsg}}</div>
                    <div>
                        <app-nick-list [nickObj]="nickList"></app-nick-list>
                    </div>
                </div>

                <div id="mainchatbereich" class="col-xs-12 col-sm-9 col-lg-10 col-xl-10" style="white-space: pre-line">

                        <app-chat-history [chatHistory]="msgObj" (nickListChange)="nickListSend($event)"></app-chat-history>
                    <span [hidden]="!nickSet">
                        <app-chat-bar [(chatMessage)]="messageText" (chatMessageChange)="chatMsg($event)">
                        </app-chat-bar>
                    </span>

                </div>

            </div>
            <div class="row">
                    <div id="footertext" class="col-12">
                            &nbsp;
                    </div>
                </div>
        </div>

    </div>
</div>